* {
  box-sizing: border-box;
}
body {
  font-family: SF Pro Display;
  background: #e5e5e5;
}
.header {
  background: #fa8c16;
  padding-top: 16px;
  padding-bottom: 14px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  margin-left: auto;
  font-size: 14px;
  line-height: 22px;
}
.input-group {
  width: 237px;
  height: 32px;
  background: #ffffff;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #bfbfbf;
}
.search-input {
  height: 100%;
  width: 80%;
  border: none;
  padding-left: 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.posts {
  max-width: 67%;
}
.post {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
.post-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}
.post-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.tags {
  margin-bottom: 20px;
}
.tag {
  color: #bfbfbf;
  margin-right: 10px;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}
.post-footer {
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.post-button .icon {
  fill: #8c8c8c;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.icon-like,
.icon-comment {
  margin-right: 6px;
}
.post-button {
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
  cursor: pointer;
}
.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}
.author-avatar {
  height: 34px;
  width: 34px;
  margin-left: 9px;
  border-radius: 4px;
}
.author-username {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
.post-time {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 20px;
}
.sidebar {
  border: 1px solid #e8e8e8;
  width: 31%;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px 25px;
}
.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-login {
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.iconpower {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 23px;
  margin-bottom: 23px;
}
.menu-nav {
  border: 1px solid #e8e8e8;
  list-style-type: none;
  background: #ffffff;
  margin: 0;
  padding: 0;
}
.menu-nav-link {
  display: inline-block;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  padding: 16px 48px;
  text-decoration: none;
}
.menu-nav-item {
  border: none;
  cursor: pointer;
  padding: 0;
}
.menu-nav-item :hover {
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  background: #fffbe6;
  border-right: 3px solid #faad14;
}
.menu-nav-item.active {
  border-right: 3px solid #faad14;
  background-color: #fffbe6;
}
.button {
  background: #faad14;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  padding: 13px;
  cursor: pointer;
}
.button-new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.icon-fire {
  fill: white;
  margin-right: 10px;
}
.card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
}
.card-header {
  border-bottom: 1px solid #e8e8e8;
  background: #fafafa;
  padding: 23px 25px;
}
.card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #595959;
}
.card-body {
  padding: 22px 40px 20px 25px;
}
.card-body-title {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #d48806;
  cursor: pointer;
}
.card-text {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  margin: 10px 0;
}
.ads {
  display: block;
  background: #ffffff;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 252px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}
.ads::before {
  content: "F****n Ads";
  position: absolute;
  right: 0;
  top: 0;
  background: #c4c4c4;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
